label {
  color: blue;
}

.card-body {
  margin: 7%;
}

.card {
  border: none;
}

.cont {
  padding: 3%;
}

.bi-instagram {
  color: red;
}
.bi-facebook {
  color: #3b5998;
}

.bi-twitter {
  color: #00acee;
}
