<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row abt_content justify-content-center">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <img src="../../../assets/images/landing_bckg.jpg" />
            </div>
        </div>

        <div class=" card col-sm-12 col col-md-4 align-self-center" id="about-us">
            <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
                <h5 class="card-title">Counter & Design NYC</h5>
                <p>Counter & Design Marble and Granite is a family owned business providing design and fabrication of
                    stone products for
                    residential and commercial properties. Founded in 2013 our mission is to offer the greatest
                    selection of materials at
                    the lowest prices available with the highest quality installation.</p>
                <p class="card-text">

                    We offer a wide range of stone-related products from around the world, including granite marble,
                    onyx, travertine,
                    quartz and more. Whether you need a kitchen countertop, a bathroom vanity, a fireplace surrounding
                    or anything else
                    imaginable.
                </p>
                <span>
                    <h4>100% Satisfaction Guarantee</h4>
                </span>
                <p>
                    We install countertops for home and office kitchens, bathrooms, bar and outdoor entertainment areas.
                    We have a full
                    commercial division that installs stone in apartment buildings, condos, stadiums, offices, buildings
                    and yachts.

                    We pride ourselves on offering the greatest selection and highest quality materials at the lowest
                    installed price.
                </p>
                <a href="#" class="card-link">Contact Us</a>
            </div>
        </div>
    </div>
</div>