<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <div class="row justify-content-center">
        <h3>Satisfied Clients</h3>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="card col-sm-12 col-md-8">
            <div class="row " id="review">
                <div class="col-sm-5">
                    <img class="card-img" src="../../../assets/images/elva_1.jpg" alt="Suresh Dasari Card">
                </div>
                <div class="col-sm-7 card-cont">
                    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
                        <p class="card-text">We were looking for a stone shopthat could help us choose the right color
                            and material for our kitchen project. we
                            reached Jaime from counter and design and he walked us through the process and ended up
                            turning our dream kitchen in to
                            reality</p>
                        <span> -- Elva Granda Hampton Bays --</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="card col-sm-12 col-md-8">
            <div class="row ">
                <div class="col-sm-7 card-cont">
                    <div class="card-body shadow-lg p-3 mb-5 bg-white rounded">
                        <p class="card-text">Professionals with knowledge on the subject, with a wide variety of marbles
                            and the best service by experienced staff.
                            Thank you for your excellent cooperation !!!</p>
                        <span>-- Mike Bianchi North Port --</span>
                    </div>
                </div>

                <div class="col-sm-5">
                    <img class="card-img" src="../../../assets/images/rev_1.jpg" alt="Suresh Dasari Card">
                </div>
            </div>
        </div>
    </div>
</div>